.food-price {
    color: #5d3ebc;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.food-title {
    color: black;
    margin-top: 4px;
    margin-bottom: 6px;
    text-align: center;
}

.food-weigth {
    color: #697488;
    line-height: 18px;
    font-weight: var(--font-weight-normal);
    text-align: center;
}

.food-image {
    width: 96px;
    height: 96px;
    align-self: center;
}